.app-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	width: 100%;
	margin: 12px auto;
	padding: 0 20px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 8px;
}

.ads-amount {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0;
	color: #848388;
}

.info strong {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 22px;
	line-height: 1.3;
	letter-spacing: 0;
}

.search {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.main-content {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	gap: 20px;
}
